In [1]:
import numpy as np
import pandas as pd

In [2]:
filename="dataset4.txt"
df=pd.read_csv(filename,header=None,error_bad_lines=False,encoding='utf8')

/tmp/ipykernel_14087/1604466880.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df=pd.read_csv(filename,header=None,error_bad_lines=False,encoding='utf8')
b'Skipping line 291: expected 4 fields, saw 6\nSkipping line 632: expected 4 fields, saw 5\nSkipping line 635: expected 4 fields, saw 5\n'

In [3]:
df = df[1:]
df = df.drop(columns = [2,3])
message = df.drop(columns = [0])

In [4]:
message[['time', 'chat']] = message[1].str.split('-', n=1, expand=True)
message = message.drop(columns = [1])
df.columns=['Date', 'Chat']
df['Time']=message['time']
df['content']=message['chat']
df = df.drop(columns = ['Chat'])
df['content']=df['content'].str.lower()
df

            Date                                               Time content
1     ‎[17/05/22              11:03:24 AM] M Charan: ‎image omitted    None
2     ‎[17/05/22              11:03:25 AM] M Charan: ‎image omitted    None
3     ‎[17/05/22              11:03:25 AM] M Charan: ‎image omitted    None
4     ‎[17/05/22              11:03:26 AM] M Charan: ‎image omitted    None
5     ‎[21/05/22              10:29:34 PM] M Charan: ‎image omitted    None
...          ...                                                ...     ...
1080   [12/05/23    3:04:33 PM] Himanshu Kumar Gupta: Fill the form    None
1081   [12/05/23   3:05:08 PM] M Charan: Personal mail or offici...    None
1082   [12/05/23   3:05:34 PM] Himanshu Kumar Gupta: Anything is...    None
1083   [14/05/23   9:48:20 AM] Himanshu Kumar Gupta: how to see ...    None
1084   [14/05/23   12:02:56 PM] Himanshu Kumar Gupta: And also a...    None

[1084 rows x 3 columns]

In [7]:
df['content'] = df['content'].str.replace('<media omitted>','')
df['content'] = df['content'].str.replace('this message was deleted','')
df['content_len'] = df['content'].str.len()
df = df[df['content_len'] > 0]
df.shape

/tmp/ipykernel_14087/4202675451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content'] = df['content'].str.replace('<media omitted>','')
/tmp/ipykernel_14087/4202675451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content'] = df['content'].str.replace('this message was deleted','')
/tmp/ipykernel_14087/4202675451.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content_len'] = df['content'].str.len()

(28, 4)

In [6]:
df[['author', 'message']] = df['content'].str.split(':', n=1, expand=True)
df = df.drop(columns = ['content'])

ValueError: Columns must be same length as key

In [ ]:
df['replying_to_author'] = df['author'].shift(1)
df['replying_to'] = df['message'].shift(1)
df = df.dropna()
df

In [ ]:
df['is_reply'] = df['replying_to_author'] != df['author']
df = df[df['is_reply'] == 1]
df.head(5)

In [ ]:
df['author'] == ' pradeep'

In [ ]:
df_a = df[df['author'] == ' pradeep'][['message','replying_to']]
df_a.columns = ['completion', 'prompt']
df_a.to_csv('data_pradeep2.csv', index=False)

data_a = list(df_a.to_dict(orient='index').values())
data_a

In [ ]:
df_b = df[df['author'] == ' himanshu kumar gupta ai iith pf'][['message','replying_to']]
df_b.columns = ['completion', 'prompt']
df_b.to_csv('data_himanshu2.csv', index=False)
data_b = list(df_b.to_dict(orient='index').values())
data_b

In [ ]:
with open('data_pradeep2.jsonl', 'w') as f:
    for item in data_a:
        f.write("%s\n" % item)

In [ ]:
with open('data_himanshu2.jsonl', 'w') as f:
    for item in data_b:
        f.write("%s\n" % item)